<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>title</title>
  </head>
  <body>
    <h1>Pig Latinizer</h1>
<h1>Pig Latinizer!</h1>
  Enter your phrase: 
  <form method="POST" action="/piglatinize">
  <input type="text" id="stray" name='user_phrase'>
  <input type="submit" value="submit">
  </form>
</html>